*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.description{
    background-color: midnightblue;
    color: white;
    font-family: sans-serif;
    padding: 5px;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
}
.description>div{
  display: flex;
  /* margin-right: 10px; */
}
.description>div>p{
  margin-right: 20px;
}
h1{
    background-color: rgb(234, 235, 236);
    padding: 10px;
    padding-left: 5%;
    font-family: sans-serif;
}
.input-work{
    width: 70%;
    background-color: whitesmoke;
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
}
.input-work>div{
    margin-top: 5px;
}
.input-work>div>input{
    width: 100%;
    padding: 5px;
}
.input-work>button{
    padding: 8px;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    background-color:midnightblue ;
    margin-top: 5px;

}
textarea{
    padding: 5px;
    width: 100%;
    height: 15vh;
}
textarea:focus{
    outline:1px solid midnightblue;
}
.input-work>div>input:focus {
    outline:1px solid midnightblue;

  }
  h2{
    padding-left: 15%;
    margin-top: 10px;
    font-family: sans-serif;
  }
  .contain{
    width: 70%;
    background-color: whitesmoke;
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
   
}
  .img-container{
    width: 10%;
    height: 10%;
  }
  .img-container>img{
    width: 100%;
    border-radius: 5px;
  }
  .contain-1{
    display: flex;
  }
  h3{
    width: 55%;
    margin-bottom: 5px;
  }
  .contain-2{
    margin-top: 15px;
  }
  .contain>button{
    margin-top: 10px;
    border: none;
    outline: none;
    color:midnightblue ;
    padding: 5px;
  }